body {
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: palevioletred;
}

section {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sect1 {
    background-color: pink;
}

#sect2 {
    background-color: antiquewhite;
	overflow:auto;
}

.headFoot {
    background-color: violet;
    color: white;
    font-size: larger;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

footer {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

form {
    width: 95%;
}

fieldset {
    display: flex;
    justify-content: space-around;
}

td {
    border-bottom: 2px solid rgb(248, 166, 248);
}

.bigDivForm {
    border: 5px double purple;
    color: rgb(23, 114, 23);
    text-align: right;
    margin: 0.3em;
    padding: 0.4em;
}

#btn, #btn2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#btn button {
    border: none;
    background-color: rgb(64, 179, 64);
    color: white;
    font-size: 14px;
    padding: 15px 32px;
}

#btn2 button {
    border: none;
    background-color: rgb(64, 179, 64);
    color: white;
    font-size: 14px;
    padding: 15px 32px;
    margin: 0.5em;
}

#projTable {
    width: 95%;
    border: 5px double purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projTable span {
    background-color: white;
    width: 90%;
    border: 4px dashed grey;
}

table, tr, th {
    border: 3px solid navy;
}

.feedbackText{
	color:white;
	background-color:red;
}